src/*.exe
src/Clam
src/Clamd
src/test_Clam
src/build.h
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.Clam
#compilation and Qt preprocessor part
*.qm
Makefile
Clam-qt
#resources cpp
qrc_*.cpp
#qt creator
*.pro.user
#mac specific
.DS_Store
build

!src/leveldb/Makefile
clamd
configure
aclocal.m4
bitcoin-config.h.in
config.log
config.status
Makefile.in
build-aux
autom4te.cache
Info.plist
setup.nsi
libtool
src/univalue/.deps/univalue.Po
src/univalue/.deps/univalue_read.Po
src/univalue/.deps/univalue_write.Po
src/test/.deps
src/script/.deps
src/.deps
src/compat/.deps
bitcoin-config.h
stamp-h1
src/crypto/.deps
src/qt/.deps
src/qt/test/.deps
src/primitives/.deps
libbitcoin_util.a
libbitcoin_common.a
libbitcoin_server.a
libbitcoin_wallet.a
.dirstamp
ui_addressbookpage.h
ui_askpassphrasedialog.h
ui_coincontroldialog.h
ui_editaddressdialog.h
src/qt/bitcoin.moc
src/qt/bitcoinamountfield.moc
src/qt/moc_addressbookpage.cpp
src/qt/moc_addresstablemodel.cpp
src/qt/moc_askpassphrasedialog.cpp
src/qt/moc_bitcoinaddressvalidator.cpp
src/qt/moc_bitcoinamountfield.cpp
src/qt/moc_bitcoingui.cpp
src/qt/moc_bitcoinunits.cpp
src/qt/moc_clientmodel.cpp
src/qt/moc_coincontroldialog.cpp
src/qt/moc_coincontroltreewidget.cpp
src/qt/moc_csvmodelwriter.cpp
src/qt/moc_editaddressdialog.cpp
src/qt/moc_guiutil.cpp
src/qt/moc_macdockiconhandler.cpp
src/qt/moc_notificator.cpp
src/qt/moc_optionsdialog.cpp
src/qt/moc_optionsmodel.cpp
src/qt/moc_overviewpage.cpp
src/qt/moc_paymentserver.cpp
src/qt/moc_qvalidatedlineedit.cpp
src/qt/moc_qvaluecombobox.cpp
src/qt/moc_rpcconsole.cpp
src/qt/moc_sendcoinsdialog.cpp
src/qt/moc_sendcoinsentry.cpp
src/qt/moc_signverifymessagedialog.cpp
src/qt/moc_trafficgraphwidget.cpp
src/qt/moc_transactiondesc.cpp
src/qt/moc_transactiondescdialog.cpp
src/qt/moc_transactionfilterproxy.cpp
src/qt/moc_transactiontablemodel.cpp
src/qt/moc_transactionview.cpp
src/qt/moc_walletmodel.cpp
src/qt/overviewpage.moc
src/qt/rpcconsole.moc
src/qt/forms/ui_aboutdialog.h
src/qt/forms/ui_optionsdialog.h
src/qt/forms/ui_overviewpage.h
src/qt/forms/ui_qrcodedialog.h
src/qt/forms/ui_rpcconsole.h
src/qt/forms/ui_sendcoinsdialog.h
src/qt/forms/ui_sendcoinsentry.h
src/qt/forms/ui_signverifymessagedialog.h
src/qt/forms/ui_transactiondescdialog.h
libbitcoinqt.a
src/test/data/base58_encode_decode.json.h
src/test/data/base58_keys_invalid.json.h
src/test/data/base58_keys_valid.json.h
src/test/data/script_invalid.json.h
src/test/data/script_valid.json.h
test_bitcoin
src/qt/clam-qt
src/qt/moc_aboutdialog.cpp
src/qt/moc_monitoreddatamapper.cpp
src/qt/test/moc_uritests.cpp
src/qt/test/test_bitcoin-qt
src/qt/clam-qt.config
src/qt/clam-qt.creator
src/qt/clam-qt.creator.user
src/qt/clam-qt.files
src/qt/clam-qt.includes
moc_qrcodedialog.cpp
moc_macnotificationhandler.cpp
